<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head'); %>
    <title>ESN Directory</title>
</head>
<body>
<%- include('templates/header'); %>
    <main class="d-flex flex-nowrap" style="height:500px;">
        <%- include('templates/nav'); %>
        
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 100%;">
            <div id="content">
                        <h4>ESN Directory</h4>
                
                    <table >
                        <thead>
                            <tr>
                                <th>Name</th>
                                
                                <th>Online / Offline</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
<% users.forEach(user => { %>
                                <tr>
                                    <td><%= user.username %></td>

                                    <td><%= user.onlinestatus %></td>
                                <td><button><a href="privatechat/?p1=<%= user._id %>&p2=<%= data.uid %>">Chat privately</a></button></td>
                                </tr>
                            <% }); %>
                        </tbody>
                        </table>
                    </table>
                </div>
        </div>
        
    </main>
    <%- include('templates/footer'); %>
</body>
</html>




