
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head'); %>
    <title>Users</title>
</head>
<body>
    <%- include('templates/header'); %>
    <main class="d-flex flex-nowrap" style="height:500px;">
        <%- include('templates/nav'); %>
        
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 100%;">
            <div id="content">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Privilege</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.fullname %></td>
                                <td><%= user.username %></td>
                                <td><%= user.privilege %></td>
                               <td><%= user.status %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                    </table>
                </table>
            </div>
        </div>
        
    </main>
    <%- include('templates/footer'); %>
</body>
</html>