<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('templates/header') %>
    <main class="container">
        <div class="wrapper fadeInDown">
           <div class="formContent">
                <div>
                    <img src="images/login.png" id="icon" alt="User icon">
                </div>
                <%- include('templates/errors') %>
                <%- include('templates/success') %>
                <form method="POST" action="/citizenLogin">
                        <input type="text" name="email" required placeholder="Enter your email here." autocomplete="off">
                        <input type="password" name="password" required placeholder="Enter your password here">
                        <input type="submit" name="submit">
                </form>
                
                <div class="formFooter">
                    <a class="underlineHover" href="/register">New Account? Sign Up.</a>
                </div>
           </div>
        </div>
    </main>
    <%- include('templates/footer')%>
    <script>
        function showSnackbar(message) {
            var snackbar = document.createElement("div");
            snackbar.textContent = message;
            snackbar.className = "snackbar";
            document.body.appendChild(snackbar);

            // Hide the snackbar after 3 seconds (adjust as needed)
            setTimeout(function() {
                snackbar.style.display = "none";
                document.body.removeChild(snackbar);
            }, 3000);
        }
    </script>
</body>
</html>