<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('templates/header') %>
    <main class="container">
        <div class="wrapper fadeInDown">
           <div class="formContent">
                <div>
                    <img src="images/login.png" id="icon" alt="User icon">
                </div>
                <%- include('templates/errors') %>
                <%- include('templates/success') %>
                <form method="POST" action="/citizenLogin">
                        <input type="text" name="email" required placeholder="Enter your email here." autocomplete="off">
                        <input type="password" name="password" required placeholder="Enter your password here">
                        <input type="submit" name="submit">
                </form>
                
                <div class="formFooter">
                    <a class="underlineHover" href="/register">New Account? Sign Up.</a>
                </div>
           </div>
        </div>
    </main>
    <%- include('templates/footer')%>
</body>
</html>